.Kiosk_list{
    margin-top: 100px;
}

.sulbing, .br, .waffle{
    display: flex;
    width: 240px;
    height: 270px;
    margin: 10px;
    border: 1px solid #8195A9;
    border-radius: 20px;
}

.sulbing{
    background-image: url('../../img/useimg/sulbing.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -0.9rem;
}
.br{
    background-image: url('../../img/useimg/BR.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0.20000000000000018rem;
}
.waffle{
    background-image: url('../../img/useimg/waffle.jpg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0.8rem, -0.000000009em;
}


