.tap{
    margin: 60px 60px;
}
.tap button{
    font-size: 1.5rem;
    width: auto;
    height: 50px;
    border: 3px solid #C1CCB7;
    border-radius: 50px;
    padding: 10px 25px;
    margin: 0 20px;
}
.Kiosk_list{
    margin-top: 100px;
}
.Kiosk_list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.Kiosk_list ul li{
    margin: 0 35px 80px;
}
.Cgv, .Two, .Megabox, .Lotte, .Cineq{
    display: flex;
    width: 240px;
    height: 270px;
    margin: 10px;
    border: 1px solid #8195A9;
    border-radius: 20px;
}

.Cgv{
    background-image: url('../../img/useimg/cgv.png');
    background-size: cover;
    background-position: -0.5rem;
}
.Megabox{
    background-image: url('../../img/useimg/megabox.png');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: -3.0rem;
}
.Lotte{
    background-image: url('../../img/useimg/롯데시네마.png');
    background-size: cover;
    background-position: -1.0rem;
}
.Cineq{
    background-image: url('../../img/useimg/씨네큐.jpeg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -9.2rem;
}
.Usecgv, .Usemegabox, .Uselotte, .UseTwsom, .Usemega, .Useediya,
 .Useangel ,.Usepaik, .Useholly, .Usestar, .Usemom, .Usemcdo, .Uselotteria,
  .Usekfc, .Useburger, .Usewaffle, .Usesulbing, .Usebr{
    width: 100%;
    height: 100vw;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.Usecgv{
    background-image: url('../../img/useimg/UseCgv.png');
    height: 3530px;
}
.Usemegabox{
    background-image: url('../../img/useimg/UseMegabox.png');
    height:1968px;
    background-size:90%;
    background-position: 5.2rem -5rem;
}
.Uselotte{
    background-image: url('../../img/useimg/UseLotte.png');
    height:4609px;
    background-position: 0 -10rem;
}
.UseTwsom{
    background-image: url('../../img/useimg/UseTwosome.png');
    height:3200px;
}
.Usemega{
    background-image: url('../../img/useimg/UseMega.png');
    height:3051px;
}
.Useediya{
    background-image: url('../../img/useimg/UseEdiya.png');
    height:2932px;
}
.Useangel{
    background-image: url('../../img/useimg/UseAngel.png');
    height:3864px;
}
.Usepaik{
    background-image: url('../../img/useimg/UsePaikdabang.png');
    height:3864px;
}
.Useholly{
    background-image: url('../../img/useimg/UseHollys.png');
    height:3302px;
}
.Usemom{
    background-image: url('../../img/useimg/UseMom.png');
    height:2114px;
    background-size: 95%;
    background-position: 2.0rem -3.2rem;
}
.Usemcdo{
    background-image: url('../../img/useimg/UseMcdo.png');
    height:3864px;
}
.Uselotteria{
    background-image: url('../../img/useimg/UseLotteria.png');
    height:2460px;
}
.Usekfc{
    background-image: url('../../img/useimg/UseKfc.png');
    height:2429px;
}
.Useburger{
    background-image: url('../../img/useimg/UseBurger.png');
    height:2501px;
}
.Usewaffle{
    background-image: url('../../img/useimg/UseWaffle.png');
    height:2366px;
}
.Usesulbing{
    background-image: url('../../img/useimg/UseSulbing.png');
    background-position: 0 1rem;
}
.Usebr{
    background-image: url('../../img/useimg/UseBr.png');
    height:2466px;
}
