.cgv_main{
    display: flex;
    height: 70vh;
    justify-content: center;
}

.cgv_logo{
    width: 10vw;
    background-image: url('../../img/cgv.png');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: -2.5rem, 0rem;
}

.ticketing, .snack{
    display: grid;
    grid-template-columns: 20vw 0px;
    grid-template-rows: 50vh;
    width: 40vw;
    height: 100vh;
    border: 1px solid black;
    margin: 0 0 20px 20px;
}

.buy_ticket, .running_time, .reservation_ticket, .photo_play{
    width: 20vw;
    height: 50vh;
    border: 1px solid black;
}