.ecommerce_list {
    margin-top: 100px;
}

.shoppingmall,
.used_transaction,
.airplane,
.place,
.public_transport {
    display: flex;
    width: 240px;
    height: 270px;
    margin: 10px;
    border: 1px solid #8195A9;
    border-radius: 20px;
}

.hotels_combine,
.agoda,
.yanolja,
.how {
    display: flex;
    width: 280px;
    height: 280px;
    border: 1px solid black;
    margin: 20px;
}

.hotels_combine {
    background-image: url('../../img/Ecommerce/hotels_combine.png');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 0rem, -1rem;
}

.agoda {
    background-image: url('../../img/Ecommerce/agoda.png');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 0rem, -1rem;
}

.yanolja {
    background-image: url('../../img/Ecommerce/yanolja.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 0rem, -1rem;
}

.how {
    background-image: url('../../img/Ecommerce/how.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 0rem, -1rem;
}