.ecommerce_list {
    margin-top: 100px;
}

.shoppingmall,
.used_transaction,
.airplane,
.place {
    display: flex;
    width: 240px;
    height: 270px;
    margin: 10px;
    border: 1px solid #8195A9;
    border-radius: 20px;
}

.eleven_street,
.auction,
.gmarket,
.coupang,
.naver_shopping {
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}

.eleven_street {
    background-image: url('../../img/Ecommerce/eleven.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.gmarket {
    background-image: url('../../img/Ecommerce/gmarket.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.coupang {
    background-image: url('../../img/Ecommerce/coupang.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.naver_shopping {
    background-image: url('../../img/Ecommerce/naver.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.ecommerce_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ecommerce_img p{
    margin-top: 100px;
    font-weight: bold;
    font-size: xx-large;
}

.elevne_street_img{
    width: 99vw;
    height: 10000px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -1.2rem;
    background-image: url('../../img/Ecommerce/Elevne_street.png');
}

.gmarket_img{
    width: 99vw;
    height: 7000px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -1.2rem;
    background-image: url('../../img/Ecommerce/Gmarket.png');
}

.coupang_img, .naver_img{
    width: 99vw;
    height: 4500px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: -1.2rem;
}

.coupang_img{
    background-image: url('../../img/Ecommerce/Coupang.png');
}

.naver_img{
    background-image: url('../../img/Ecommerce/Naver.png');
}