.ecommerce_list {
    margin-top: 100px;
}

.shoppingmall,
.used_transaction,
.airplane,
.place,
.public_transport {
    display: flex;
    width: 240px;
    height: 270px;
    margin: 10px;
    border: 1px solid #8195A9;
    border-radius: 20px;
}

.eleven_street,
.auction,
.gmarket,
.coupang,
.naver_shopping {
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}

.eleven_street {
    background-image: url('../../img/Ecommerce/eleven.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.auction {
    background-image: url('../../img/Ecommerce/auction.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.gmarket {
    background-image: url('../../img/Ecommerce/gmarket.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.coupang {
    background-image: url('../../img/Ecommerce/coupang.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}

.naver_shopping {
    background-image: url('../../img/Ecommerce/naver.jpg');
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: 1rem, -1rem;
}