a{
    text-decoration-line: none;
    color: black;
}
.title{
    
    text-align: center;
    font-weight:bold;
    font-size: 2rem;
    margin: 70px 50px;
    
}

.data{
    margin-bottom: 30px;
}
.data ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.data p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
}
.data ul li{
    margin: 0 35px 100px;
}
.data .box{
    display: flex;
    
    width: 220px;
    height: 270px;
    background-color: rgb(180, 180, 180);
}