

.main{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Movie, .Cafe, .Food, .Other{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20%;
    width: 70px;
    height: 30px;
}
.tap button{
    font-size: 1.5rem;
    width: auto;
    height: 50px;
    border: 3px solid #C1CCB7;
    border-radius: 50px;
    padding: 10px 25px;
    margin: 0 20px;
}