.loginpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-size: 60%;
    background-image: url('../img/로그인사진.png');
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.loginpage-logo{
    width: 50%;
    height: 100vh;
   
}

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 50vh;
}
.loginpage-loginbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    
    padding-right: 5rem;
}
.loginpage-loginbox__box{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.loginpage-loginbox__box label {
    margin-left: 20%;
}
.ID, .PW{
    position: relative;
    font-size: 1.5rem;
    width: 27vw;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    bottom: 0.6rem;
}
.loginbtn{
    border: none;
    background-color: #E3EEDE;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    width: 35vw;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20%;
    &:hover{
        transform: scale(105%);
    }
    &:active{
        color: white;
        transform: scale(95%);
    }
}
.loginerrormsg{
    color: red;
    margin-top: -0.5rem;
    margin-left: 13.5rem;
}

.joinbtn{
    margin-left: 1rem;
}
.jointextbox{
    flex-direction: column;
    padding-left: 21.5vw;
    padding: 5px;
    margin-left: 95px;
}
.gotojoinbtn{
    margin-left: 30px;
}
.gotojoinbtn :first-child{
    &:hover{
        text-decoration: underline;
        color: blue;
    }
}
