.Mainbody{
    display: flex;
    flex-direction: column;
    align-items:center; 
}
.mainbox-categorybox-box div:hover {
    text-decoration-line: none; /* 밑줄 제거 */
    color: #576c81; /* 글자 색상 변경 */
}
.mainbox {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
   
}

.mainbox-categorybox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 26%;
    /* background-color: #d4e9e1; */
    
    border-radius: 50px;
}
.categorytext{
    top: 0;
    margin-top: 50px;
    padding-bottom: 2px;
}
.mainbox-categorybox-box{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.mainbox-categorybox__goverment24box,
.mainbox-categorybox__kioskbox,
.mainbox-categorybox__ecommercebox{
    background-color: #E3EEDE;
    /* border-right: 3px solid #C1CCB7; */
    border-radius: 20px;
    margin: 0 15px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    color: black;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: blue;
        transform: scale(105%);
    }
    &:active{
        transform: scale(90%);
        color: white;
    }
}
.mainbox-categorybox__goverment24box p,
.mainbox-categorybox__kioskbox p,
.mainbox-categorybox__ecommercebox p
    {
        margin-top: 40px;
        margin-bottom: 10px;
}
.mainbox-bestpostbox{
   border: 1px solid rgba(231, 199, 180, 1);
   margin: 1rem;
   width: 77vw;
   height: auto;
   border-radius: 50px;
   display: flex;
}
.titlepost{
    margin: 0;
}
.posttext{
    font-size: 1rem;
}
.postlistbox{
    border-bottom: 1px solid black;
}

.mainbox-bestpostbox{
    display: flex;
    flex-direction: column;
}
.bestpostlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover{
        color: blue;
    }
}
.main-postbox{
    margin-top: 80px;
    margin-bottom: 50px;
}
.main-postbox h3{
    margin-right: 950px;
}