.postbox{
    background-image: url('../img/배경\ 사진.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 35px 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.postbox-allbox{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.postbox-allbox__headerbox{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btnbox{
    display: flex;
    align-items: center;
}
.btnbox button {
    border: none;
    background-color: beige;
    cursor: pointer;
    &:hover{
        transform: scale(105%);
    }
    &:active{
        transform: scale(95%);
    }
}
.inputserch{
    height: 1.5rem;
}
.postbox-postlistbox{
    width: 80vw;
    height: auto;
}
.postlist{
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding-left: 0;
}
.postlist-listbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.postlist-posttitle{
    margin: 0;
}
table {
    width: 100%;
    border-radius: 50px;
    border: 5px solid #C1CCB7;
    border-collapse: collapse;
  }
  tr{
    height: 80px;
  }
  td {
    border-bottom: 3px solid #C1CCB7;
    border-top: 3px solid #C1CCB7;
    height: 100px;
    padding: 0;
  }