.answerHistory_main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.answerReview{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.answerList{
    display: flex;
    width: 1000px;
    height: 300px;
    flex-direction: column;
}