.modifyUser_main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modifyUserFix{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.fix{
    display: flex;
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-around;
}

.id, .pw, .email, .nickName{
    margin-left: 20px;
}