.modifybox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../img/배경\ 사진.png');
}

.modifyform-body{
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #8195A9;
    align-items: start;
}

.modifyform-label{
    margin-left: 100px;
}

.input-info{
    margin-left: 40px;
}

#inputname{
    margin-left: 150px;
}

#inputpw{
    margin-left: 100px;
}

#inputpwchk{
    margin-left: 45px;
}

#inputdate{
    margin-left: 95px;
}